mixin AboutSpain()
    section.AboutSpain
        .AboutSpain_layout
            .AboutSpain_content
                h3.h3 Spain 
                h2.h2 Grand Spain Madrid
                p.p But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                .button_content Book Now
    section.AboutSpain.second
        .AboutSpain_layout__second
            .AboutSpain_content
                h3.h3 Spain 
                h2.h2 Grand Spain Madrid
                p.p But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                .button_content Book Now