mixin steps()
    section.steps
        .steps_layout
            .steps_search
                .steps_search__image
                .steps_text Search Places
            .steps_select
                .steps_select__image
                .steps_text Select Places
            .steps_enjoy
                .steps_enjoy__image
                .steps_text Book & Enjoy