mixin TouristSay()
    section.TouristSay
        h2.TouristSay_h2 What Our  Tourist Say
        .TouristSay_layout
            .TouristSay_content
                .TouristSay_content__picture
                .TouristSay_content__information
                    h2.h2 Sam Sumon
                    p.p But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system

