mixin WhyChooseUs()
    section.WhyChooseUs
        .WhyChooseUs_layout
            .WhyChooseUs_content
                h2.h2 Why Choose Us
                p.p Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                p.p Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                .button_big
                    .button_text Explore Places 
            .WhyChooseUs_picture
                .WhyChooseUs_picture__first
                .WhyChooseUs_picture__second