mixin footer()
    footer.footer
        .footer_layout
            h3.footer_h3 Bhromaon
            p.footer_p Safe Travel Anywhere
            .social_content
                .social_content__facebook
                .social_content__twitter
                .social_content__linkedin
                .social_content__youtube
                .social_content__picassa