body{
    background: linear-gradient(purple, orange);
    height: 100%;
    margin: 0;
    width: 600px;
    margin: 0 20%;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.logo{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.h2{
    display: flex;
    justify-content: center;
}
.info{
    height: 600px;
    width: 400px;
}
input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
.button{
    background-color: blue;
    text-align: center;
}
.forgot{

}
.line{
    margin:0 20px;
}
.line:before,
.line:after{
    content: '';
    border-bottom: 1px solid white;
}
.continue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p{
    font-size: 16px;
}
.create{
    font-size: 14px;
}
a{
    text-decoration: none;
}