mixin menu()
    menu.menu
        .menu_logo Bhromaon
        .menu_buttons
            .menu_buttons__anchor Who We Are
            .menu_buttons__anchor What We Do
            .menu_buttons__anchor Travel With Us
            .menu_buttons__anchor Contact Us